.badge-red {
    @apply bg-red-500 text-white text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-red-900;
}

.badge-green {
    @apply bg-lime-500 text-white text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-lime-900;
}

.badge-orange {
    @apply bg-orange-500 text-white text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-orange-900;
}

.badge-blue {
    @apply bg-sky-500 text-white text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-sky-900;
}

.badge-stone {
    @apply bg-stone-500 text-white text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-stone-900;
}

.badge-light {
    @apply bg-stone-50 text-stone-600 me-2 px-1.5 py-0.5 rounded ring-1 ring-inset ring-stone-500/10;
}

.progress {
    @apply w-full bg-stone-200 rounded-full h-4 dark:bg-stone-700;
}

.progress-bar {
    @apply h-4 rounded-full text-xs text-center text-white;
}

.progress-bar-info {
    @apply bg-blue-500;
}
